<div class="announcement-bar">
  <p class="announcement-bar__text">{{ section.settings.message }}</p>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "message",
      "label": "Message",
      "default": "FREE SHIPPING ON ORDERS $500+ (US)"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
